openapi: 3.0.1
info:
  title: dms data service
  version: 1.0.0
  description: |-
    All API requests must be made over HTTPS. Calls made over plain HTTP will be redirected to HTTPS. Max request size of 6MB.
servers:
  - url: https://dms.testenv.impel.io
    description: Impel test environment endpoint.
  - url: https://dms.impel.io
    description: Impel prod environment endpoint.
#{{DMS_DATA_SERVICE_AWS_VALIDATION}}
paths:
  /repair-order/v1:
    get:
      summary: Get DMS repair order data.
      operationId: get-repair-order
      description: |-
        This API endpoint enables the retrieval of DMS repair order data.
      parameters:
      - schema:
          type: string
        in: header
        name: client_id
        required: true
        description: Client ID provided by SpinCar
      - schema:
          type: string
        in: header
        name: x_api_key
        required: true
        description: API Key provided by Impel
      - schema:
          type: string
        in: query
        name: next_fetch_key
        required: false
        description: The pagination key.
      - schema:
          type: integer
          minimum: 1
          maximum: 10000
        in: query
        name: result_count
        required: false
        description: The number of results to return.
      - schema:
          type: integer
        in: query
        name: id
        required: false
        description: The repair order id of the repair order to query for.
      - schema:
          type: integer
        in: query
        name: partner_id
        required: false
        description: The partner id of the repair order to query for.
      - schema:
          type: integer
        in: query
        name: dealer_id
        required: false
        description: The dealer id of the repair order to query for.
      - schema:
          type: integer
        in: query
        name: consumer_id
        required: false
        description: The consumer id of the repair order to query for.
      - schema:
          type: integer
        in: query
        name: vehicle_id
        required: false
        description: The vehicle id of the repair order to query for.
      - schema:
          type: string
          format: date
          example: 2023-01-01
        in: query
        name: ro_open_date_start
        required: false
        description: The earliest ro_open_date of the repair order to query for in YYYY-MM-DD format.
      - schema:
          type: string
          format: date
          example: 2023-01-01
        in: query
        name: ro_open_date_end
        required: false
        description: The latest ro_open_date of the repair order to query for in YYYY-MM-DD format.
      - schema:
          type: string
          format: date
          example: 2023-01-01
        in: query
        name: ro_close_date_start
        required: false
        description: The earliest ro_close_date of the repair order to query for in YYYY-MM-DD format.
      - schema:
          type: string
          format: date
          example: 2023-01-01
        in: query
        name: ro_close_date_end
        required: false
        description: The latest ro_close_date of the repair order to query for in YYYY-MM-DD format.
      - schema:
          type: string
        in: query
        name: ro_number
        required: false
        description: The repair order number to query for.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  next_fetch_key:
                    type: string
                  repair_orders:
                    type: array
                    items:
                      "$ref": "#/components/schemas/RepairOrder"
                  received_date_utc:
                    type: string
                    description: The date Impel received the request in ISO 8601 coordinated universal time format.
                    format: date-time
                    example: '2021-11-19T16:57:31+0000'
        '400':
          description: Bad Request.
        '401':
          description: This request is unauthorized.
        '500':
          description: Internal Server Error. Please contact Impel support.
      #{{REPAIR_ORDER_LAMBDA_INFO}}
components:
  schemas:
    IntegrationPartner:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
    Dealer:
      type: object
      properties:
        id:
          type: integer
        sfdc_account_id:
          type: integer
        dealer_group_id:
          type: integer
        name:
          type: string
        location_name:
          type: string
        state:
          type: string
        city:
          type: string
        zip_code:
          type: string
        category:
          type: string
    VehicleSale:
      type: object
      properties:
        id:
          type: integer
        dealer_id:
            type: integer
        vehicle_id:
          type: integer
        consumer_id:
          type: integer
        sale_date:
          type: string
          format: date
          example: '2021-11-19'
        listed_price:
          type: number
          format: float
        sales_tax:
          type: number
          format: float
        mileage_on_vehicle:
          type: integer
        deal_type:
          type: string
        cost_of_vehicle:
          type: number
          format: float
        oem_msrp:
          type: number
          format: float
        discount_on_price:
          type: number
          format: float
        days_in_stock:
          type: integer
        date_of_state_inspection:
          type: string
          format: date
          example: '2021-11-19'
        is_new:
          type: boolean
        trade_in_value:
          type: number
          format: float
        payoff_on_trade:
          type: number
          format: float
        value_at_end_of_lease:
          type: number
          format: float
        miles_per_year:
          type: integer
        profit_on_sale:
          type: number
          format: float
        has_service_contract:
          type: boolean
        vehicle_gross:
          type: number
          format: float
        warranty_expiration_date:
          type: string
          format: date
          example: '2021-11-19'
        service_package:
          type: string
        extended_warranty:
          type: string
    RepairOrder:
        type: object
        properties:
          id:
            type: integer
          partner_id:
            type: integer
          dealer_id:
            type: integer
          consumer_id:
            type: integer
          vehicle_id:
            type: integer
          ro_open_date:
            type: string
            format: date-time
            example: '2021-11-19T16:57:31+0000'
          ro_close_date:
            type: string
            format: date-time
            example: '2021-11-19T16:57:31+0000'
          txn_pay_type:
            type: integer
          repair_order_no:
            type: string
          advisor_name:
            type: string
          total_amount:
            type: number
            format: float
          consumer_total_amount:
            type: number
            format: float
          warranty_total_amount:
            type: number
            format: float
          comment:
            type: string
          recommendation:
            type: string