openapi: 3.0.1
info:
  title: dms data service
  version: 1.0.0
  description: |-
    All API requests must be made over HTTPS. Calls made over plain HTTP will be redirected to HTTPS. Max request size of 6MB.
servers:
  - url: https://dms-service.testenv.impel.io
    description: Impel test environment endpoint.
  - url: https://dms-service.impel.io
    description: Impel prod environment endpoint.

#{{DMS_DATA_SERVICE_AWS_VALIDATION}}
paths:
  /create-dealer/v1:
    post:
      summary: Create a dealer.
      operationId: create-dealer
      description: |-
        This API creates a dealer.
      parameters:
      - schema:
          type: string
        in: header
        name: client_id
        required: true
        description: Client ID provided by Impel.
      - schema:
          type: string
        in: header
        name: x_api_key
        required: true
        description: API Key provided by Impel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dms_id:
                  type: string
                  description: The DMS ID assigned to the dealer.
                  example: "string"
                  minimum: 1
                impel_dealer_id:
                  type: string
                  description: The unique id of the dealer assigned by Impel.
                location_name:
                  type: string
                  description: The name of dealer's location.
                  example: "3371 Fort Meade Rd"
                state:
                  type: string
                  description: The state where the dealer is located.
                  example: "Maryland"
                city:
                  type: string
                  description: The city where the dealer is located.
                  example: "Laurel"
                zip_code:
                  type: integer
                  description: The zipcode where the dealer being created is located.
                  example: 20724
                impel_integration_partner_id:
                  type: string
                  description: The integration partner ID.
                  example: "reyrey"
                full_name:
                  type: string
                  description: The full name of the dealer.
                  example: "Ourisman Honda VW of Laurel"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Dealer created successfully."
        '400':
          description: Bad Request.
        '401':
          description: This request is unauthorized.
        '500':
          description: Internal Server Error. Please contact Impel support.
        '409':
          description: Dealer with the provided impel_dealer_id already exists.
      #{{CREATE_DEALER_LAMBDA_INFO}}
  /repair-order/v1:
    get:
      summary: Get DMS repair order data.
      operationId: get-repair-order
      description: |-
        This API endpoint enables the retrieval of DMS repair order data.
      parameters:
      - schema:
          type: string
        in: header
        name: client_id
        required: true
        description: Client ID provided by Impel.
      - schema:
          type: string
        in: header
        name: x_api_key
        required: true
        description: API Key provided by Impel
      - schema:
          type: integer
          minimum: 1
        in: query
        name: page
        required: false
        description: The results page to retrieve, starts at 1.
      - schema:
          type: integer
          minimum: 1
          maximum: 1000
        in: query
        name: result_count
        required: false
        description: The number of results per page to return.
      - schema:
          type: string
        in: query
        name: impel_dealer_id
        required: false
        description: The unique id of the dealer assigned by impel of the repair order to query for.
      - schema:
          type: string
        in: query
        name: dms_id
        required: false
        description: The id of the dealer assigned by the dms of the repair order to query for.
      - schema:
          type: string
        in: query
        name: impel_integration_partner_id
        required: false
        description: The id of the DMS assigned by Impel of the repair order to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: db_creation_date_start
        required: false
        description: The earliest db_creation_date of the repair order to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: db_creation_date_end
        required: false
        description: The latest db_creation_date of the repair order to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: ro_open_date_start
        required: false
        description: The earliest ro_open_date of the repair order to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: ro_open_date_end
        required: false
        description: The latest ro_open_date of the repair order to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: ro_close_date_start
        required: false
        description: The earliest ro_close_date of the repair order to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: ro_close_date_end
        required: false
        description: The latest ro_close_date of the repair order to query for in YYYY-MM-DD format.
      - schema:
          type: string
        in: query
        name: repair_order_no
        required: false
        description: The repair order number to query for.
      - schema:
          type: string
        in: query
        name: vin
        description: The Vehicle Identification Number of the repair order to query for.
      - schema:
          type: string
        in: query
        name: dealer_customer_no
        description: The dealer's identifier for the customer of the repair order to query for.
      - schema:
          type: string
        in: query
        name: stock_num
        description: The Stock Number of the repair order to query for.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RepairOrderResponse"
        '400':
          description: Bad Request.
        '401':
          description: This request is unauthorized.
        '500':
          description: Internal Server Error. Please contact Impel support.
      #{{REPAIR_ORDER_LAMBDA_INFO}}
  /vehicle-sale/v1:
    get:
      summary: Get DMS vehicle sale data.
      operationId: get-vehicle-sale
      description: |-
        This API endpoint enables the retrieval of DMS vehicle sale data.
      parameters:
      - schema:
          type: string
        in: header
        name: client_id
        required: true
        description: Client ID provided by Impel.
      - schema:
          type: string
        in: header
        name: x_api_key
        required: true
        description: API Key provided by Impel
      - schema:
          type: integer
          minimum: 1
        in: query
        name: page
        required: false
        description: The results page to retrieve, starts at 1.
      - schema:
          type: integer
          minimum: 1
          maximum: 1000
        in: query
        name: result_count
        required: false
        description: The number of results per page to return.
      - schema:
          type: string
        in: query
        name: impel_dealer_id
        required: false
        description: The unique id of the dealer assigned by impel of the repair order to query for.
      - schema:
          type: string
        in: query
        name: dms_id
        required: false
        description: The id of the dealer assigned by the dms of the vehicle sale to query for.
      - schema:
          type: string
        in: query
        name: impel_integration_partner_id
        required: false
        description: The id of the DMS assigned by Impel of the vehicle sale to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: db_creation_date_start
        required: false
        description: The earliest db_creation_date of the vehicle sale to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: db_creation_date_end
        required: false
        description: The latest db_creation_date of the vehicle sale to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: sale_date_start
        required: false
        description: The earliest sale_date of the vehicle sale to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: sale_date_end
        required: false
        description: The latest sale_date of the vehicle sale to query for in YYYY-MM-DD format.
      - schema:
          type: string
        in: query
        name: vin
        description: The Vehicle Identification Number of the vehicle sale to query for.
      - schema:
          type: string
        in: query
        name: dealer_customer_no
        description: The dealer's identifier for the customer of the vehicle sale to query for.
      - schema:
          type: string
        in: query
        name: stock_num
        description: The Stock Number of the vehicle sale to query for.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VehicleSaleResponse"
        '400':
          description: Bad Request.
        '401':
          description: This request is unauthorized.
        '500':
          description: Internal Server Error. Please contact Impel support.
      #{{VEHICLE_SALE_LAMBDA_INFO}}
  /dealer/v1:
    get:
      summary: Get DMS dealer data.
      operationId: get-dealer
      description: |-
        This API endpoint enables the retrieval of DMS dealer data.
      parameters:
      - schema:
          type: string
        in: header
        name: client_id
        required: true
        description: Client ID provided by Impel.
      - schema:
          type: string
        in: header
        name: x_api_key
        required: true
        description: API Key provided by Impel
      - schema:
          type: integer
          minimum: 1
        in: query
        name: page
        required: false
        description: The results page to retrieve, starts at 1.
      - schema:
          type: integer
          minimum: 1
          maximum: 1000
        in: query
        name: result_count
        required: false
        description: The number of results per page to return.
      - schema:
          type: string
        in: query
        name: impel_dealer_id
        required: false
        description: The unique id of the dealer assigned by impel of the repair order to query for.
      - schema:
          type: string
        in: query
        name: dms_id
        required: false
        description: The id of the dealer assigned by the dms to query for.
      - schema:
          type: string
        in: query
        name: impel_integration_partner_id
        required: false
        description: The id of the DMS assigned by Impel to query for.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DealerResponse"
        '400':
          description: Bad Request.
        '401':
          description: This request is unauthorized.
        '500':
          description: Internal Server Error. Please contact Impel support.
      #{{DEALER_LAMBDA_INFO}}
  /appointment/v1:
    get:
      summary: Get DMS appointment data.
      operationId: get-appointment
      description: |-
        This API endpoint enables the retrieval of DMS repair order data.
      parameters:
      - schema:
          type: string
        in: header
        name: client_id
        required: true
        description: Client ID provided by Impel.
      - schema:
          type: string
        in: header
        name: x_api_key
        required: true
        description: API Key provided by Impel
      - schema:
          type: integer
          minimum: 1
        in: query
        name: page
        required: false
        description: The results page to retrieve, starts at 1.
      - schema:
          type: integer
          minimum: 1
          maximum: 1000
        in: query
        name: result_count
        required: false
        description: The number of results per page to return.
      - schema:
          type: string
        in: query
        name: impel_dealer_id
        required: false
        description: The unique id of the dealer assigned by impel.
      - schema:
          type: string
        in: query
        name: dms_id
        required: false
        description: The id of the dealer assigned by the dms of the vehicle to query for.
      - schema:
          type: string
        in: query
        name: impel_integration_partner_id
        required: false
        description: The id of the DMS assigned by Impel.
      - schema:
          type: string
          format: date
          example: 2023-05-25
        in: query
        name: appointment_date_start
        required: false
        description: The earliest appointment_date of the appointment to query for.
      - schema:
          type: string
          format: date
          example: 2023-05-25
        in: query
        name: appointment_date_end
        required: false
        description: The latest appointment_date of the appointment to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: db_creation_date_start
        required: false
        description: The earliest db_creation_date of the appointment to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: db_creation_date_end
        required: false
        description: The latest db_creation_date of the appointment to query for.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: db_update_date_start
        required: false
        description: The earliest db_update_date of the appointment to query for. On first insertion this is the same as db_creation_date.
      - schema:
          type: string
          format: date-time
          example: 2023-05-25T06:35:34
        in: query
        name: db_update_date_end
        required: false
        description: The latest db_update_date of the appointment to query for. On first insertion this is the same as db_creation_date.
      - schema:
          type: string
        in: query
        name: appointment_no
        description: The dealer's appointment number of the vehicle to query for.
      - schema:
          type: string
        in: query
        name: stock_num
        description: The Stock Number of the vehicle to query for.
      - schema:
          type: string
        in: query
        name: vin
        description: The Vehicle Identification Number of the vehicle to query for.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AppointmentResponse"
        '400':
          description: Bad Request.
        '401':
          description: This request is unauthorized.
        '500':
          description: Internal Server Error. Please contact Impel support.
      #{{APPOINTMENT_LAMBDA_INFO}}
  /customer/v1:
    get:
      summary: Get DMS customer data.
      operationId: get-customer
      description: |-
        This API endpoint enables the retrieval of DMS customer data.
      parameters:
      - schema:
          type: string
        in: header
        name: client_id
        required: true
        description: Client ID provided by Impel.
      - schema:
          type: string
        in: header
        name: x_api_key
        required: true
        description: API Key provided by Impel
      - schema:
          type: integer
          minimum: 1
        in: query
        name: page
        required: false
        description: The results page to retrieve, starts at 1.
      - schema:
          type: integer
          minimum: 1
          maximum: 1000
        in: query
        name: result_count
        required: false
        description: The number of results per page to return.
      - schema:
          type: integer
        in: query
        name: customer_id
        description: The DMS ID assigned to the customer.
      - schema:
          type: string
        in: query
        name: dealer_customer_no
        description: The dealer's identifier for the customer of the vehicle sale to query for.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomerResponse"
        '400':
          description: Bad Request.
        '401':
          description: This request is unauthorized.
        '500':
          description: Internal Server Error. Please contact Impel support.
      #{{CUSTOMER_LAMBDA_INFO}}
components:
  schemas:
    AppointmentResponse:
      type: object
      properties:
        received_date_utc:
          type: string
        results:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Appointment'
              - type: object
                properties:
                  dealer:
                    $ref: '#/components/schemas/Dealer'
              - type: object
                properties:
                  integration_partner:
                    $ref: '#/components/schemas/IntegrationPartner'
              - type: object
                properties:
                  dealer_integration_partner:
                    $ref: '#/components/schemas/DealerIntegrationPartner'
              - type: object
                properties:
                  consumer:
                    $ref: '#/components/schemas/Consumer'
              - type: object
                properties:
                  vehicle:
                    $ref: '#/components/schemas/Vehicle'
              - type: object
                properties:
                  service_contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceContracts'
              - type: object
                properties:
                  op_codes:
                    type: array
                    items:
                      $ref: '#/components/schemas/OpCode'
        has_next_page:
          type: boolean
    RepairOrderResponse:
      type: object
      properties:
        received_date_utc:
          type: string
        results:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/RepairOrder'
              - type: object
                properties:
                  dealer:
                    $ref: '#/components/schemas/Dealer'
              - type: object
                properties:
                  integration_partner:
                    $ref: '#/components/schemas/IntegrationPartner'
              - type: object
                properties:
                  dealer_integration_partner:
                    $ref: '#/components/schemas/DealerIntegrationPartner'
              - type: object
                properties:
                  vehicle:
                    $ref: '#/components/schemas/Vehicle'
              - type: object
                properties:
                  consumer:
                    $ref: '#/components/schemas/Consumer'
              - type: object
                properties:
                  op_codes:
                    type: array
                    items:
                      $ref: '#/components/schemas/OpCode'
        has_next_page:
          type: boolean
    VehicleSaleResponse:
      type: object
      properties:
        received_date_utc:
          type: string
        results:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/VehicleSale'
              - type: object
                properties:
                  dealer:
                    $ref: '#/components/schemas/Dealer'
              - type: object
                properties:
                  integration_partner:
                    $ref: '#/components/schemas/IntegrationPartner'
              - type: object
                properties:
                  dealer_integration_partner:
                    $ref: '#/components/schemas/DealerIntegrationPartner'
              - type: object
                properties:
                  vehicle:
                    $ref: '#/components/schemas/Vehicle'
              - type: object
                properties:
                  consumer:
                    $ref: '#/components/schemas/Consumer'
        has_next_page:
          type: boolean
    DealerResponse:
      type: object
      properties:
        received_date_utc:
          type: string
        results:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/DealerIntegrationPartner'
              - type: object
                properties:
                  dealer:
                    $ref: '#/components/schemas/Dealer'
              - type: object
                properties:
                  integration_partner:
                    $ref: '#/components/schemas/IntegrationPartner'
        has_next_page:
          type: boolean
    CustomerResponse:
      type: object
      properties:
        received_date_utc:
          type: string
        results:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Consumer'
              - type: object
                properties:
                  dealer:
                    $ref: '#/components/schemas/Dealer'
              - type: object
                properties:
                  integration_partner:
                    $ref: '#/components/schemas/IntegrationPartner'
              - type: object
                properties:
                  dealer_integration_partner:
                    $ref: '#/components/schemas/DealerIntegrationPartner'
        has_next_page:
          type: boolean
    IntegrationPartner:
      type: object
      properties:
        id:
          type: integer
        impel_integration_partner_id:
          type: string
        type:
          type: string
        db_creation_date:
          type: string
          format: date-time
    Dealer:
      type: object
      properties:
        id:
          type: integer
        sfdc_account_id:
          type: integer
        dealer_group_id:
          type: integer
        impel_dealer_id:
          type: string
        location_name:
          type: string
        state:
          type: string
        city:
          type: string
        zip_code:
          type: string
        db_creation_date:
          type: string
          format: date-time
    DealerIntegrationPartner:
      type: object
      properties:
        id:
          type: integer
        integration_partner_id:
          type: integer
        dealer_id:
          type: integer
        dms_id:
          type: string
        is_active:
          type: boolean
        db_creation_date:
          type: string
          format: date-time
    OpCode:
      type: object
      properties:
        id:
          type: integer
        op_code:
            type: string
        op_code_desc:
            type: string
        dealer_integration_partner_id:
            type: string
    Consumer:
      type: object
      properties:
        id:
          type: integer
        dealer_integration_partner_id:
            type: string
        dealer_customer_no:
            type: string
        first_name:
            type: string
        last_name:
            type: string
        email:
            type: string
        ip_address:
            type: string
        cell_phone:
            type: string
        city:
            type: string
        state:
            type: string
        metro:
            type: string
        postal_code:
            type: string
        home_phone:
            type: string
        email_optin_flag:
            type: boolean
        phone_optin_flag:
            type: boolean
        postal_mail_optin_flag:
            type: boolean
        sms_optin_flag:
            type: boolean
        db_creation_date:
          type: string
          format: date-time
        metadata:
            type: string
        master_consumer_id:
            type: string
    Vehicle:
      type: object
      properties:
        id:
          type: integer
        vin:
            type: string
        oem_name:
            type: string
        type:
            type: string
        vehicle_class:
            type: string
        mileage:
            type: string
        make:
            type: string
        model:
            type: string
        year:
            type: string
        db_creation_date:
            type: string
            format: date-time
        dealer_integration_partner_id:
            type: integer
        new_or_used:
            type: string
        metadata:
            type: string
    VehicleSale:
      type: object
      properties:
        id:
          type: integer
        dealer_integration_partner_id:
          type: integer
        vehicle_id:
          type: integer
        consumer_id:
          type: integer
        sale_date:
          type: string
          format: date
          example: '2021-11-19'
        listed_price:
          type: number
          format: float
        sales_tax:
          type: number
          format: float
        mileage_on_vehicle:
          type: integer
        deal_type:
          type: string
        cost_of_vehicle:
          type: number
          format: float
        oem_msrp:
          type: number
          format: float
        adjustment_on_price:
          type: number
          format: float
        days_in_stock:
          type: integer
        date_of_state_inspection:
          type: string
          format: date
          example: '2021-11-19'
        trade_in_value:
          type: number
          format: float
        payoff_on_trade:
          type: number
          format: float
        value_at_end_of_lease:
          type: number
          format: float
        miles_per_year:
          type: integer
        profit_on_sale:
          type: number
          format: float
        has_service_contract:
          type: boolean
        vehicle_gross:
          type: number
          format: float
        delivery_date:
          type: string
          format: date
          example: '2021-11-19'
        db_creation_date:
          type: string
          format: date
          example: '2021-11-19'
        vin:
          type: string
          example: '1G1FX6S05P4158304'
    RepairOrder:
        type: object
        properties:
          id:
            type: integer
          dealer_integration_partner_id:
            type: integer
          consumer_id:
            type: integer
          vehicle_id:
            type: integer
          ro_open_date:
            type: string
            format: date-time
            example: '2021-11-19T16:57:31+0000'
          ro_close_date:
            type: string
            format: date-time
            example: '2021-11-19T16:57:31+0000'
          txn_pay_type:
            type: integer
          repair_order_no:
            type: string
          advisor_name:
            type: string
          total_amount:
            type: number
            format: float
          consumer_total_amount:
            type: number
            format: float
          warranty_total_amount:
            type: number
            format: float
          internal_total_amount:
            type: number
            format: float
          comment:
            type: string
          recommendation:
            type: string
          db_creation_date:
              type: string
              format: date-time
          metadata:
              type: string
    Appointment:
      type: object
      properties:
        id:
          type: integer
        dealer_integration_partner_id:
          type: integer
        vehicle_id:
          type: integer
        consumer_id:
          type: integer
        appointment_time:
          type: string
        appointment_date:
          type: string
          format: date
        appointment_source:
          type: string
        reason_code:
          type: string
        appointment_create_ts:
          type: string
          format: date-time
        appointment_update_ts:
          type: string
          format: date-time
        rescheduled_flag:
          type: boolean
        appointment_no:
          type: string
        last_ro_date:
          type: string
          format: date-time
        last_ro_num:
          type: string
        converted_ro_num:
          type: string
        db_creation_date:
          type: string
          format: date-time
    ServiceContracts:
      type: object
      properties:
        id:
          type: integer
        dealer_integration_partner_id:
            type: integer
        contract_id:
            type: string
        contract_name:
            type: string
        start_date:
            type: string
            format: datetime
        amount:
            type: string
        cost:
            type: string
        deductible:
            type: string
        expiration_months:
            type: string
        expiration_miles:
            type: string
        db_creation_date:
            type: string
            format: datetime
        warranty_expiration_date:
            type: string
            format: datetime
        extended_warranty:
            type: object
        service_package_flag:
            type: boolean
        vehicle_sale_id:
            type: integer
        appointment_id:
            type: integer